<%- include('./layout/header'); %>

<%- include('./layout/sideBar'); %>

<div class="col col-10">
    <table class="table table-secondary table-striped" style="width:1200px;">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Nama</th>
            <th scope="col">Peran</th>
            <th scope="col">Status</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody id="tabelPengguna">
          
        </tbody>
    </table>
</div>

</div>
<script src="js/kelolaPengguna.js"></script>

<%- include('./layout/footer'); %>


