body {
    background-color: #363740;
}



.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 550px;
    border: 5px;
}

.logo {
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
}

