<div class="row justify-content-start my-2">
    <div class="col col-2">
        <div class="bg-white p-2" id="sidebar-wrapper">
            <div class="sidebar-heading"><h3>Modul Inti</h3></div>
            <div class="list-group list-group-flush" id="sideNav">
                <a class="list-group-item list-group-item-action p-3" href="/visualisasiData"><h5>Visualisasi Data</h5></a>
            </div>
        </div>
    </div>

    <script src="js/sideBar.js"></script>

    
    
        
        

